<div th:fragment="header">

<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
    <div class="container">

        <a class="navbar-brand fw-bold" th:href="@{/}">SRMS</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">🏠Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}">🧑‍🎓Students</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">🌍About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">📞Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

</div>