<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About | SRMS</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
body {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color: white;
}

.card {
    border-radius: 15px;
}
</style>

</head>
<body>

 <div th:replace="fragments/header :: header"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
 

<!-- Content -->
<div class="container mt-5">
    <div class="card p-4 shadow text-dark">
        
        <h2 class="text-center mb-3">About SRMS</h2>

        <p>
            The <b>Student Result Management System (SRMS)</b> is a web-based application
            developed using <b>Spring Boot, Thymeleaf,Hibernate, Boostrap, Java, Spring MVC and MySQL</b>.
        </p>

        <p>
            This system helps administrators efficiently manage student records,
            including adding, updating, deleting, and viewing student details.
        </p>

        <p>
            It also allows managing student results, making the entire academic
            process digital and easy to access.
        </p>

        <hr>

        <h5>Key Features:</h5>
        <ul>
            <li>Student Registration</li>
            <li>Update & Delete Student</li>
            <li>Result Management</li>
            <li>Secure Login System</li>
        </ul>

        <hr>

        <p class="text-center">
            <b>Project Guide:</b>Prof. U S Dodmise <b>Developed By:</b>Ram Tandale And Team 🚀
            <ul>
  <li>Adity Salve  </li>
  <li>Abhijit Sakhare  </li>
  <li>Bharat Sathe  </li>
  <li> Amar Raddi  </li>
</ul>
 
        </p>

    </div>
</div>

</body>
</html>